.recipe_container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 25px;
}

.recipe_container h2 {
    color: #2D3047;
    text-align: center;
    margin-bottom: 10px;
}

.ingredients_container {
    width: 300px;
    box-shadow: 0px 3px 10px #2D3047;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 3px;
}

.instructions_container {
    width: 550px;
    box-shadow: 0px 3px 10px #2D3047;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 3px;
}